<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starcloud.ops.business.app.dal.mysql.app.AppMapper">

    <!-- 根据应用名称查询 COMPLETION 模式的应用数量 -->
    <select id="countCompletionAppByName" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM llm_app
        WHERE name = #{name}
          AND model = 'COMPLETION'
          AND deleted = 0
    </select>
</mapper>