<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starcloud.ops.business.app.dal.mysql.market.AppMarketMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->
    <!-- 数字序列器，最高为 999 -->
    <sql id="numberSequence">
        SELECT (a.N + b.N * 10 + c.N * 100 + 1) AS n
        FROM
            (SELECT 0 AS N UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) AS a,
            (SELECT 0 AS N UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) AS b,
            (SELECT 0 AS N UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) AS c
    </sql>

    <!-- 统计每个分类的数量 -->
    <select id="statisticsCountByCategory" resultType="com.starcloud.ops.business.app.api.app.dto.AppCategoryDTO">
        SELECT code, COUNT(*) AS app_count
        FROM (
            SELECT TRIM(SUBSTRING_INDEX(SUBSTRING_INDEX(market.categories, ',', numbers.n), ',', -1)) AS code
            FROM llm_app_market AS market
            JOIN (<include refid="numberSequence" />) AS numbers ON CHAR_LENGTH(market.categories) - CHAR_LENGTH(REPLACE(market.categories, ',', '')) >= numbers.n - 1
        WHERE market.audit IN
        <foreach item="audit" collection="audits" open="(" separator="," close=")">
            #{audit}
        </foreach>
        AND market.status = 0 AND market.deleted = 0
        ) AS subquery
        GROUP BY code
    </select>

    <!-- 审核数据，审核通过：该版本的审核状态改为已通过，其余的版本改为未通过 -->
    <update id="approvedAuditByUidAndVersion">
        UPDATE llm_app_market
        SET audit = CASE WHEN version = #{version} THEN 1 WHEN version != #{version} THEN 2 ELSE audit END
        WHERE uid = #{uid}
          AND status = 0
          AND deleted = 0
    </update>
</mapper>