<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starcloud.ops.business.log.dal.mysql.LogAppMessageMapper">

    <sql id="listLogMessageStatisticsColumns">
        count(ms.id) as messageCount,
        COUNT(
        CASE
        WHEN ms.status = "SUCCESS"
        THEN
        1
        END
        ) AS successCount,
        COUNT(
        CASE
        WHEN ms.status != "SUCCESS"
        THEN
        1
        END
        ) AS errorCount,
        COUNT(
        CASE
        WHEN fb.rating = "LIKE"
        THEN
        1
        END
        ) as feedbackLikeCount,
        COUNT(DISTINCT(ms.creator)) as userCount,
        SUM(ms.elapsed) as elapsedTotal,
        AVG(ms.elapsed) as elapsedAvg,
        SUM(message_tokens) as messageTokens,
        SUM(answer_tokens) as answerTokens,
        SUM(message_tokens + answer_tokens) as tokens,
        <choose>
            <when test="query.unit == 'HOURS'">
                date_format(ms.create_time, '%Y-%m-%d %h') as create_date
            </when>
            <when test="query.unit == 'DAYS'">
                date_format(ms.create_time, '%Y-%m-%d') as create_date
            </when>
            <when test="query.unit == 'MONTHS'">
                date_format(ms.create_time, '%Y-%m') as create_date
            </when>
            <otherwise>
                date_format(ms.create_time, '%Y-%m-%d') as create_date
            </otherwise>
        </choose>
    </sql>

    <sql id="listLogMessageStatisticsOrderBy">
        <if test="query.unit == 'HOURS'">
            GROUP BY date_format(ms.create_time, '%Y-%m-%d %h')
        </if>
        <if test="query.unit == 'DAYS'">
            GROUP BY date_format(ms.create_time, '%Y-%m-%d')
        </if>
        <if test="query.unit == 'MONTHS'">
            GROUP BY date_format(ms.create_time, '%Y-%m')
        </if>
    </sql>

    <!-- 日志统计 -->
    <select id="listLogMessageStatistics"
            resultType="com.starcloud.ops.business.log.dal.dataobject.LogAppMessageStatisticsListPO">
        SELECT
        <include refid="listLogMessageStatisticsColumns"/>
        FROM llm_log_app_message as ms
        LEFT JOIN llm_log_app_message_feedbacks as fb on fb.app_message_uid = ms.uid
        LEFT JOIN llm_log_app_conversation as co on co.uid = ms.app_conversation_uid
        <where>
            <if test="query.appUid != null and query.appUid != '' ">
                AND ms.app_uid = #{query.appUid}
            </if>
            <if test="query.appName != null and query.appName != '' ">
                <bind name="appName" value="query.appName+'%'"/>
                AND co.app_name LIKE #{appName}
            </if>
            <if test="query.appMode != null and query.appMode != '' ">
                AND ms.app_mode = #{query.appMode}
            </if>
            <if test="query.fromScene != null and query.fromScene != '' ">
                AND ms.from_scene = #{query.fromScene}
            </if>
            <if test="query.status != null and query.status != '' ">
                AND ms.status = #{query.status}
            </if>
            <if test="query.startTime != null and query.endTime != null">
                AND ms.create_time between #{query.startTime} and #{query.endTime}
            </if>
            <if test="query.type != null and query.type == 'GENERATE_RECORD' and (query.fromScene == null or query.fromScene == '') and query.fromSceneList != null and query.fromSceneList.size() > 0">
                AND ms.from_scene IN
                <foreach collection="query.fromSceneList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        <include refid="listLogMessageStatisticsOrderBy"/>
        ORDER BY create_date;
    </select>

    <!-- 根据应用 UID 日志统计 -->
    <select id="listLogMessageStatisticsByAppUid"
            resultType="com.starcloud.ops.business.log.dal.dataobject.LogAppMessageStatisticsListPO">
        SELECT
        <include refid="listLogMessageStatisticsColumns"/>
        FROM llm_log_app_message as ms
        LEFT JOIN llm_log_app_message_feedbacks as fb on fb.app_message_uid = ms.uid
        LEFT JOIN llm_log_app_conversation as co on co.uid = ms.app_conversation_uid
        <where>
            <if test="query.appUid != null and query.appUid != '' ">
                AND ms.app_uid = #{query.appUid}
            </if>
            <if test="query.appMode != null and query.appMode != '' ">
                AND ms.app_mode = #{query.appMode}
            </if>
            <if test="query.fromScene != null and query.fromScene != '' ">
                AND ms.from_scene = #{query.fromScene}
            </if>
            <if test="query.status != null and query.status != '' ">
                AND ms.status = #{query.status}
            </if>
            <if test="query.creator != null and query.creator != '' ">
                AND ms.creator = #{query.creator}
            </if>
            <if test="query.startTime != null and query.endTime != null">
                AND ms.create_time between #{query.startTime} and #{query.endTime}
            </if>
        </where>
        <include refid="listLogMessageStatisticsOrderBy"/>
        ORDER BY create_date;
    </select>


</mapper>