<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starcloud.ops.business.app.dal.mysql.xhs.content.CreativeContentMapper">
    
    <!-- 创作内容任务查询 -->
    <select id="listTask" resultType="com.starcloud.ops.business.app.dal.databoject.xhs.content.CreativeContentDO">
        SELECT
        content.id,
        content.uid,
        content.batch_uid,
        content.plan_uid,
        content.conversation_uid,
        content.type,
        content.execute_param,
        content.execute_result,
        content.start_time,
        content.end_time,
        content.elapsed,
        content.status,
        content.retry_count,
        content.error_message,
        content.liked,
        content.claim,
        content.deleted,
        content.creator,
        content.updater,
        content.create_time,
        content.update_time,
        content.tenant_id
        FROM
        llm_creative_content content
        INNER JOIN llm_creative_plan plan ON content.plan_uid = plan.uid
        WHERE
        content.deleted = FALSE
        AND plan.deleted = FALSE
        AND plan.status IN ( 'RUNNING', 'FAILURE' )
        AND content.status IN ('INIT', 'FAILURE')
        <if test="query.status != null and query.status != ''">
            AND content.status = #{query.status}
        </if>
        <if test="query.planUid != null and query.planUid != ''">
            and content.plan_uid = #{query.planUid}
        </if>
        <if test="query.batchUid != null and query.batchUid != ''">
            AND content.batch_uid = #{query.batchUid}
        </if>
        <if test="query.status == 'FAILURE' and query.maxRetry > 0">
            AND content.retry_count &lt; #{query.maxRetry}
        </if>
        ORDER BY content.update_time
        <if test="query.bathCount != null and query.bathCount gt 0">
            LIMIT #{query.bathCount}
        </if>
    </select>
</mapper>