<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starcloud.ops.business.mission.dal.mysql.NotificationCenterMapper">


    <select id="pageCount" resultType="java.lang.Long">
        select count(*)
        from llm_notification
        where deleted = false
        <if test="reqVO.name != null and reqVO.name != ''">
            and name = #{reqVO.name}
        </if>
        <if test="reqVO.field != null and reqVO.field != ''">
            and field = #{reqVO.field}
        </if>
        <if test="reqVO.status != null and reqVO.status != ''">
            and status = #{reqVO.status}
        </if>
        <if test="reqVO.createStartTime != null">
            and create_time &gt; DATE_FORMAT(#{reqVO.createStartTime,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="reqVO.createEndTime != null">
            and create_time &lt;= DATE_FORMAT(#{reqVO.createEndTime,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%S')
        </if>
    </select>

    <select id="pageDetail" resultType="com.starcloud.ops.business.mission.dal.dataobject.NotificationCenterDTO">
        select n.*,
               u.username                                                                                       as createUser,
               COUNT(CASE WHEN m.deleted = false and m.status = 'stay_claim' THEN 1 END)                        AS stayClaimCount,
               COUNT(CASE WHEN m.deleted = false and m.status in ('claimed') THEN 1 END)                        AS claimCount,
               COUNT(CASE
                         WHEN m.deleted = false and m.status in ('published', 'pre_settlement', 'pre_settlement_error')
                             THEN 1 END)                                                                        AS publishedCount,
               COUNT(CASE
                         WHEN m.deleted = false and m.status in ('settlement', 'settlement_error')
                             THEN 1 END)                                                                        AS settlementCount,
               COUNT(CASE WHEN m.deleted = false THEN 1 END)                                                    AS total
        from llm_notification n
                 left join llm_single_mission m on m.notification_Uid = n.uid
                 left join system_users u on n.creator = u.id
        where n.deleted = false
        <if test="reqVO.name != null and reqVO.name != ''">
            and n.name = #{reqVO.name}
        </if>
        <if test="reqVO.field != null and reqVO.field != ''">
            and n.field = #{reqVO.field}
        </if>
        <if test="reqVO.status != null and reqVO.status != ''">
            and n.status = #{reqVO.status}
        </if>
        <if test="reqVO.createStartTime != null">
            and n.create_time &gt; DATE_FORMAT(#{reqVO.createStartTime,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="reqVO.createEndTime != null">
            and n.create_time &lt;= DATE_FORMAT(#{reqVO.createEndTime,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%S')
        </if>
        group by n.uid
        order by n.create_time desc
        limit #{start},#{size}
    </select>

    <select id="appPageCount" resultType="java.lang.Long">
        select count(*)
        from llm_notification
        where deleted = false and end_time &gt; now() and status = 'published'
        <if test="reqVO.open != null">
            and open = #{reqVO.open}
        </if>
        <if test="reqVO.platform != null and reqVO.platform != ''">
            and platform = #{reqVO.platform}
        </if>
        <if test="reqVO.minFansNum != null">
            and min_fans_num &gt;= #{reqVO.minFansNum}
        </if>
        <if test="reqVO.singleBudget != null">
            and (single_budget &gt;= #{reqVO.singleBudget} or single_budget is null)
        </if>
        <if test="reqVO.notificationName != null and reqVO.notificationName != ''">
            and name like concat(#{reqVO.notificationName},'%')
        </if>
        <if test="reqVO.creator != null  and reqVO.creator.size() > 0">
            and creator in
            <foreach collection="reqVO.creator" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="reqVO.fields != null  and reqVO.fields.size() > 0">
            and field in
            <foreach collection="reqVO.fields" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="appPage" resultType="com.starcloud.ops.business.mission.dal.dataobject.AppNotificationDTO">
        select n.*,
        COUNT(case WHEN m.`status` in ('claimed','published','pre_settlement','settlement','pre_settlement_error','settlement_error')  THEN 1 end ) as claimCount,
<!--        GROUP_CONCAT(m.uid) as messionUids,-->
        json_unquote(JSON_EXTRACT(	m.content, '$.picture[0].url')) as picture,
        COUNT(case WHEN m.`claim_user_id` = #{reqVO.claimUserId} THEN 1 end ) as currentUserNum
        from llm_notification n
        LEFT JOIN llm_single_mission m ON m.notification_Uid = n.uid
        where n.deleted = false and m.deleted = false and n.end_time &gt; now() and n.status = 'published'
        <if test="reqVO.open != null">
            and n.open = #{reqVO.open}
        </if>
        <if test="reqVO.platform != null and reqVO.platform != ''">
            and n.platform = #{reqVO.platform}
        </if>
        <if test="reqVO.minFansNum != null">
            and n.min_fans_num &gt;= #{reqVO.minFansNum}
        </if>
        <if test="reqVO.singleBudget != null">
            and (n.single_budget &gt;= #{reqVO.singleBudget}  or n.single_budget is null)
        </if>
        <if test="reqVO.notificationName != null and reqVO.notificationName != ''">
            and n.name like concat(#{reqVO.notificationName},'%')
        </if>
        <if test="reqVO.creator != null and reqVO.creator.size() > 0">
            and n.creator in
            <foreach collection="reqVO.creator" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="reqVO.fields != null  and reqVO.fields.size() > 0">
            and n.field in
            <foreach collection="reqVO.fields" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        GROUP BY n.id
        order by ${field} ${type}
        limit #{start},#{size}
    </select>
</mapper>